<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="verify-v1" content="cEjgfwqq0LDTDv8S4qwRebKI9Zy1IaM6EftZ9DrsVR4=" />
  <title>Art979.com | {% block title %} Art is here, where are you? {% endblock %}</title>
  <!-- Framework CSS -->
  <link rel="stylesheet" href="/media/css/screen.css" type="text/css" media="screen, projection"/>
  <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print"/>
  <!--[if IE]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection"/><![endif]-->
  <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen, projection"/>
  <script type="text/javascript" src="/media/js/prototypes.js"></script>
  <script type="text/javascript" src="/media/js/jquery-1.3.2.js"></script>
  <script type="text/javascript" src="/media/js/art979.js"></script>
  {% block extrahead %}
  {% endblock %}
</head>
<body>
  <div class="container header">
    <div class="span-24">
      <div class="span-10">
        <h1><a href="http://art979.com"><img src="/media/img/logo.png" id="logo" alt="Art979.com"/> Art is here, where are you?</a></h1>
      </div>
      <div class="span-6 push-2">
	      <a href="http://onthesideshow.com"><img src="/media/img/banner.jpg" alt="Slideshow Creative"/></a>
      </div>
    </div>
  </div>
  <!-- End container header -->

  <div class="container nav">
    <ul id="nav">
	    <li class="top"><a href="/visual/" id="visual" class="top_link"><span class="down">Visual</span></a>
		    <ul class="sub">
			    <li><a href="/visual/artists/" class="fly">Artists</a>
					  <ul>
						  <li><a href="/visual/artists/painters/">Painters</a></li>
						  <li><a href="/visual/artists/photographers/">Photographers</a></li>
					  </ul>
			    </li>
			    <li><a href="/visual/venues/">Venues</a></li>
			    <li><a href="/visual/events/">Events</a></li>
		    </ul>
	    </li>
    
	    <li class="top"><a href="/music/" id="music" class="top_link"><span class="down">Music</span></a>
		    <ul class="sub">
			    <li><a href="/music/artists/" class="fly">Artists</a>
  					<ul>
  						<li><a href="/music/artists/musicians/">Musicians</a></li>
  						<li><a href="/music/artists/bands/">Bands/Music Groups</a></li>
  					</ul>
			    </li>
			    <li><a href="/music/venues/">Venues</a></li>
			    <li><a href="/music/events/">Events</a></li>
		    </ul>
	    </li>

	    <li class="top"><a href="/literary/" id="literary" class="top_link"><span class="down">Literary</span></a>
		    <ul class="sub">
			    <li><a href="/literary/artists/" class="fly">Artists</a>
  					<ul>
  						<li><a href="/literary/artists/writers/">Writers</a></li>
  						<li><a href="/literary/artists/poets/">Poets</a></li>
  					</ul>
			    </li>
			    <li><a href="/literary/venues/">Venues</a></li>
			    <li><a href="/literary/events/">Events</a></li>
		    </ul>
	    </li>

	    <li class="top"><a href="/culinary/" id="culinary" class="top_link"><span class="down">Culinary</span></a>
		    <ul class="sub">
			    <li><a href="/culinary/artists/" class="fly">Artists</a>
  					<ul>
  						<li><a href="/culinary/artists/chefs/">Chefs</a></li>
  						<li><a href="/culinary/artists/chocolatiers/">Chocolatiers</a></li>
  						<li><a href="/culinary/artists/winemakers/">Winemakers</a></li>
  						<li><a href="/culinary/artists/coffeeroasters/">Coffee Roasters</a></li>
  					</ul>
			    </li>
			    <li><a href="/culinary/venues/">Venues</a></li>
			    <li><a href="/culinary/events/">Events</a></li>
		    </ul>
	    </li>

	    <li class="top"><a href="/artisan/" id="artisan" class="top_link"><span class="down">Artisan</span></a>
		    <ul class="sub">
			    <li><a href="/artisan/artists/" class="fly">Artists</a>
  					<ul>
  						<li><a href="/artisan/artists/sculptors/">Sculptors</a></li>
  						<li><a href="/artisan/artists/potters/">Potters</a></li>
  						<li><a href="/artisan/artists/jewelrymakers/">Jewelry Makers</a></li>
  						<li><a href="/artisan/artists/winemakers/">Winemakers</a></li>
  					</ul>
			    </li>
			    <li><a href="/artisan/venues/">Venues</a></li>
			    <li><a href="/artisan/events/">Events</a></li>
		    </ul>
	    </li>

	    <li class="top"><a href="/design/" id="design" class="top_link"><span class="down">Design</span></a>
		    <ul class="sub">
			    <li><a href="/design/artists/" class="fly">Artists</a>
  					<ul>
  						<li><a href="/design/artists/graphicdesigners/">Graphic Designers</a></li>
  						<li><a href="/design/artists/landscapedesigners/">Landscape Designers</a></li>
  						<li><a href="/design/artists/interiordesigners/">Interior Designers</a></li>
  						<li><a href="/design/artists/architects/">Architects</a></li>
  						<li><a href="/design/artists/fashiondesigners/">Fashion Designers</a></li>
  					</ul>
			    </li>
			    <li><a href="/design/venues/">Venues</a></li>
			    <li><a href="/design/events/">Events</a></li>
		    </ul>
	    </li>

	    <li class="top"><a href="/performing/" id="performing" class="top_link"><span class="down">Performing</span></a>
		    <ul class="sub">
			    <li><a href="/performing/artists/" class="fly">Artists</a>
  					<ul>
  						<li><a href="/performing/artists/actors/">Actors</a></li>
  						<li><a href="/performing/artists/vocalists/">Vocalists</a></li>
  						<li><a href="/performing/artists/dancers/">Dancers</a></li>
  					</ul>
			    </li>
			    <li><a href="/performing/venues/">Venues</a></li>
			    <li><a href="/performing/events/">Events</a></li>
		    </ul>
	    </li>

      <div class="span-4"></div>

    {% if user.is_authenticated %}

	    <li class="top"><a href="/account/" id="account" class="top_link"><span class="down">Account</span></a>
		    <ul class="sub">
    			{% if perms.Profiles.add_artist %}<li><a href="/account/profile/">My Profile</a></li>{% endif %}
    			{% if perms.Profiles.add_art %}<li><a href="/account/art/">My Art Pieces</a></li>{% endif %}
    			{% if perms.Profiles.add_event %}<li><a href="/account/event/">My Events</a></li>{% endif %}
    			{% if perms.Profiles.add_venue %}<li><a href="/account/venue/">My Venues</a></li>{% endif %}
    			{% if user.is_staff %}<li><a href="/account/story/">My Stories</a></li>{% endif %}
			    <li><a href="/account/options/">Account Options</a></li>
			    <li><a href="/logout/">Logout</a></li>
		    </ul>
	    </li>

    {% else %}

	    <li class="top"><a href="/register/" id="register" class="top_link"><span class="down">Account</span></a>
		    <ul class="sub larger">
			    <li><a href="/register/">Register as an Artist</a></li>
			    <li><a href="/register/artcoordinator/">Register as a Venue Coordinator</a></li>
			    <li><a href="/register/artlover/">Register For Local Art Updates</a></li>
			    <li><a href="/account/login/">Login</a></li>
		    </ul>
	    </li>

    {% endif %}

        <li class="top"><a href="/gallery/" id="gallery" class="top_link"><span>Gallery</span></a></li>
        <li class="top"><a href="/events/" id="events" class="top_link"><span>Events</span></a></li>
    </ul>
  </div>
  <!-- End container nav -->

  <div class="container page">
    <div class="content span-24">
    {% block body %}
    
    {% endblock %}
    </div>
    <div class="span-24 page_footer">

      <div class="span-8">

        <div class="bottom_calendar_wrapper">
          <div class="header"><div class="left"></div><div class="middle"></div></div>
          <div class="bottom_calendar"></div>
        </div>

      </div>

      <div class="span-8 feeds">
        <h1>Rss Feeds</h1>
        <div class="span-4">
          <ul>
            <li><a href="/feeds/news/"><b>Stories</b></a>
              <ul>
                <li><a href="/feeds/news/visual/">Visual</a></li>
                <li><a href="/feeds/news/music/">Music</a></li>
                <li><a href="/feeds/news/literary/">Literary</a></li>
                <li><a href="/feeds/news/culinary/">Culinary</a></li>
                <li><a href="/feeds/news/artisan/">Artisan</a></li>
                <li><a href="/feeds/news/design/">Design</a></li>
                <li><a href="/feeds/news/performing/">Performing</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="span-4">
          <ul>
            <li><a href="/feeds/events/"><b>Events</b></a>
              <ul>
                <li><a href="/feeds/events/visual/">Visual</a></li>
                <li><a href="/feeds/events/music/">Music</a></li>
                <li><a href="/feeds/events/literary/">Literary</a></li>
                <li><a href="/feeds/events/culinary/">Culinary</a></li>
                <li><a href="/feeds/events/artisan/">Artisan</a></li>
                <li><a href="/feeds/events/design/">Design</a></li>
                <li><a href="/feeds/events/performing/">Performing</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="span-8 bottom_ad">
	    <img src="/media/img/Sq_fidelis_web_ad.gif" alt="Fidelis"/>
      </div>

    </div>
  </div>
  <!-- End container page -->

<!--<div class="footer">
  <strong>Copyright &copy; 2008</strong> | <a href="http://thecreativespace.org">TheCreativeSpace</a>
</div>-->

</body>
</html>
