{% extends "base.html" %}

{% block title %}
  {{ category.name }}
{% endblock %}

{% block body %}
<div class="span-24 category_header">
  <h2>{{ category.name }} - News</h2>
  <p>{{ category.description }}</p>
</div>
<div class="span-24 feature">
  <a href="#"><img src="{{feature.image_lg}}"/></a>
  <a href="#"><p>{{feature.body|truncatewords:120}}</p></a>
</div>
<div class="span-24 subfeatures">
  <div class="span-18 colborder">
    {% for story in stories %}
    <div class="span-6{%cycle '' '' ' last'%}">
      <a href="#"><img src="{{story.image_sm}}"></a>
      <a href="#"><p>{{story.body|truncatewords:20}}</p></a>
    </div>
    {% endfor %}
  </div>
  <div class="span-5 last">
    {% include "sidebar/events.html" %}
    <hr />
    {% include "sidebar/artists.html" %}
    <hr />
    {% include "sidebar/venues.html" %}
  </div>
</div>
{% endblock %}
