body {
	background:url(../img/bg-page.png) top left repeat-x #333;
}

.sf-menu {
	background:#333;
}

.sf-menu a, .sf-menu a:visited {
	border:0;
	color:#fff;
}

.sf-menu li, .sf-menu li li, .sf-menu li li li {
	background:#333;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#666;
}

.outter, .outter a, .outter a:visited {
	color:#fff;
}

.inner {
	background: #F9F8F3;
	border:2em solid #F9F8F3;
    border-top:;
}

button:hover, a.button:hover{
  	background-color:#ffeede;
 	border:1px solid #f0d8c2;
 	color:#C16A03;
}

a.button:active{
	background-color:#6299c5;
	border:1px solid #6299c5;
	color:#C16A03;
}

label {
	display:block;
	margin-top:1em;
}