<div class="side_artists side_content">
  <h2>{%if category%}<a href="/{{category.stub}}/artists/">LOCAL{%ifequal category.stub 'music'%} MUSICIANS{%else%}{%ifequal category.stub 'artisan'%} ARTISANS{%else%} {{category.stub|upper}} ARTISTS{%endifequal%}{%endifequal%}</a>{%else%}LOCAL ARTISTS{%endif%}</h2>
  <hr>
  <ul>
  {% if side_artist %}
    {% for a in side_artist %}
    <li><a href="/artist/{{a.key}}/artist/">{{a.first_name}} {{a.last_name}}</a></li>
    {% endfor %}
  {% else %}
  <li class="wraptext">No artists{%if category%} in {{category.name}}{%endif%}</li>
  {% endif %}
  </ul>
</div>
