{% extends "base.html" %}

{% block content %}
<div class="span-24 categoryHeader">
  <h2>Artist Profile</h2>
</div>

<hr />

<div class="span-24">
  
  <div class="span-18 colborder">
    <h2>Artist Name</h2>
    <ul>
      <li>URL: <a href="http://artistwebsite.com">http://artistwebsite.com</a></li>
      <li>Email: <a href="mailto:artist@artwebsite.com">artist@artistwebsite.com</a></li>
    </ul>
  </div>

  <div class="span-5 last sidebar">
    <img src="photo_of_artist.jpg" />
    {% include "sidebar/events.html"}
    <hr />
    {% include "sidebar/photos.html"}
  </div>

</div>
{% endblock %}
